.units {
	display: flex;
	background-color: var(--Neutral600);
	color: var(--Neutral0);
	padding: 0.5rem 0.8rem;
	gap: 0.4rem;
	border: none;
	border-radius: 0.4rem;
	font-size: 0.9rem;
	align-items: center;
}

.units:focus {
	border: 0.4rem solid var(--Neutral0);
}

.units:hover {
	cursor: pointer;
}

.switchToImperial {
	border: 0.4rem solid var(--Neutral0);
}

.container {
	position: relative;
}

.menu {
	position: absolute;
	top: 130%;
	right: 0.1rem;
	padding: 0.5rem;
	background-color: var(--Neutral800);
	display: flex;
	flex-direction: column;
	width: 15rem;
	border-radius: 0.4rem;
	z-index: 100;
}

.option {
	border: none;
	color: var(--Neutral200);
	background-color: var(--Neutral800);
	font-size: 1rem;
	text-align: left;
	padding: 0.5rem 0.3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.4rem;
}

.option:hover {
	background-color: var(--Neutral700);
	cursor: pointer;
}

.title {
	color: var(--Neutral300);
	font-size: 1rem;
	padding: 0.4rem 0.3rem;
}

.unit-option {
	display: flex;
	flex-direction: column;
	align-items: left;
}

.divider {
	width: 100%;
	background-color: var(--Neutral600);
	height: 0.05rem;
	margin: 0.2rem 0;
}

.check {
	background-color: var(--Neutral700);
}

.isHidden {
  display: none;
}

